.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color : black;
    font-weight: bolder;
    font-size : 5vw;
    font-family : monospace;
}

.container img{
    opacity:  0.8;
}

a{
   text-decoration : none;
   margin : 0 auto;
}