@font-face {
    font-family: fonts;
    src: url(../fonts/Candara.ttf);
}

/* Index Page */
body {
    font-family: fonts;
    background: url("../img/banner3.jpg");
    background-size: cover;
}
.Header
{
    text-align: center;
    color: white;


}
.Header h1
{
    padding:4% 9% 4% 9%;
    font-size: 700%;
    text-shadow: 3px 3px 5px #000000;
}
.Header h3
{
    text-shadow: 3px 3px 5px #000000;
}
.Isi
{
    text-align: center;
    
}
.Isi ul
{
    list-style-type: none;
    padding:0px;
}
.Isi a
{
    display: block;
    text-decoration: none;
    border: 2px solid white;
    outline: none;
    color:white;
    font-size: 200%;
    border-radius: 20px;
    background: transparent;
    margin: 20px 35% 20px 35%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
.Isi a:hover
{
    background: rgba(255, 255, 255, 0.582);
    border: 2px solid white;
    color: black;
    cursor: pointer;
}
