@font-face {
    font-family: airstrike;
    src: url(../fonts/airstrike.ttf);
}
html{
    margin: 0;
    padding : 0;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url(../img/banner3.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    height: 100vh;
}

body{
    padding : 0 ; 
    margin : 0 ;
}

.logo img{
    float: left;
    width : 10%;
}

h1{
    clear: both;
    color : yellow;
    font-size : 5em;
    font-family : airstrike;
    text-align:center;
    padding : 50px;
    text-shadow:-4px -3px 2px mediumseagreen;
}

h1:hover{
    color : white;
    text-shadow:-3px -3px 2px black;
    transition : ease 0.5s;
    font-size : 5.5em;
}
.button {
    text-align : center;    
}

a{
    text-decoration : none;
    font-family : airstrike;
    border : 5px solid black;
    padding:7px;
    border-radius:10px;
    margin:10px;
    font-size : 2em;
    font-weight: normal;
    
    
}

a:hover{
    color:white;
    border : 5px solid white;
    transition : ease 0.5s;
    

}
