.HeaderLogin
{
    text-align: center;
    color: white;
    border: 3px solid white;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    
}
.HeaderLogin h1
{
    padding:1% 9% 1% 9%;
    font-size: 500%;
    text-shadow: 3px 3px 5px #000000;
}
.LoginBox
{
    width: 50vw;
    background:rgba(255, 255, 255, 0.301);
    top: 65vh;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 50px 20px 10px 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);

}

.LoginBox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: transparent;
    outline: none;
    width: 100%;
    
}

.LoginBox p
{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
}

.LoginBox img
{
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}

.LoginBox a
{
    display: block;
    text-decoration: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 10px 2px 10px 2px;
    text-align: center;
}
@font-face {
    font-family: fonts;
    src: url(../fonts/Candara.ttf);
}

body {
    font-family: fonts;
    background: url("../img/banner3.jpg");
    background-size: cover;
}
.LoginBox a:hover
{
    background: rgba(255, 255, 255, 0.664);
    color: rgb(112, 112, 112);
    border: 2px solid transparent;
    transition : ease 0.5s;
    
}

.LoginBox input[type="submit"]
{
    display: block;
    text-decoration: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 20px 2px 20px 2px;
    width: 100%;
}

.LoginBox input[type="submit"]:hover
{
    background: rgba(255, 255, 255, 0.664);     
    color: rgb(112, 112, 112);
    border: 2px solid transparent;
    transition : ease 0.5s;
    
}