@font-face {
    font-family: airstrike;
    src: url(../fonts/airstrike.ttf);
}
@font-face {
    font-family: storybook;
    src: url(../fonts/storybook.TTF);
}
@font-face {
    font-family: fonts;
    src: url(../fonts/Candara.ttf);
}
body {
    background: url("../img/banner3.jpg");
    background-size: cover;
    font-family: fonts;
}


/*modal css*/
.modal{
    display :  block ; 
    position : fixed ; 
    z-index : 1 ; 
    padding : 100px ; 
    left : 0 ; 
    top : 0 ; 
    width : 100% ; 
    height : 100% ; 
    overflow : auto  ; 
    background-color : rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    animation-name : fadeIn;
    animation-duration :2s;

    

}

.modal-content{
    background-color : tan;
    padding : 20px ; 
    border : 1px solid #888; 
    width : 80% ;
    margin : auto;
}

@keyframes fadeIn{
    from{opacity : 0;}
    to{opacity : 1;}
}


/*-------------------- modal css--------------------- */
.judul{
    width : 100%;
    height : 25vh;
    border:3px solid blanchedalmond;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
}

.judul h1{
    margin : 0; 
    text-align : center;
    color :white;
    margin-top : 10px;
    font-size : 5em;
    text-shadow:-3px -3px 2px rgb(27, 15, 15);

}

.judul h1:hover{
    transition : ease 0.5s;
    font-size: 7em;
    text-shadow:-3px -3px 2px rgb(33, 116, 185);
    

}

.quote1{
    float : left;
    width : 25%;
    height: 65vh;
    margin:2vw;
}

.quote1 q{
    word-break: normal;
    font-size : 3em;
}



.form{
    width: 40%;
    float : left;
    text-align : center;
    margin : auto;
    background: rgba(255, 255, 255, 0.651);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 65vh;
}

.form input[type='submit']{
    font-size : 2em;
    background-color: tan;
    border:none;
    margin : 1vh 1vw;
    border-radius : 10px;
    
    border : 2px solid black;
    
}
.form input[type='submit']:hover{
    border : 2px solid mediumseagreen; 
    color : mediumseagreen;
    transition : ease 0.5s;
    border-radius : 10px;
    
}

input[type='text']{
    width : 60%;
    border:none;
    border-bottom : 1px solid black;
    background-color:tan;
}
input[type='password']{
    width : 60%;
    border:none;
    border-bottom : 1px solid black;
    background-color:tan;
}
.form a{
    font-size : 2em;
    text-decoration : none;
    padding : 10px 2px;
    border : 2px solid black;
    border-radius : 10px;
    
    
}
.form a:hover{
    border : 2px solid maroon;
    color : maroon;
    font-size : 2em;
    text-decoration : none;
    border-radius : 10px;
    transition : ease 0.5s;
    
}

q{
    color : antiquewhite;
}

label{  
    font-size : 1.5em;
}

label:hover{
    color : white;
    transition : ease-in-out 0.3s;
}


input[type='text']:hover{
    border : 1px solid black;
    transition :ease 0.5s;
    border-radius : 10px;
}
input[type='passwrod']:hover{
    border : 1px solid black;
    transition :ease 0.5s;
    border-radius : 10px;
}