@font-face {
    font-family: Input;
    src: url(../fonts/Candara.ttf);
}
@font-face {
    font-family: College;
    src: url(../fonts/College.ttf);
}
@font-face {
    font-family: fonts;
    src: url(../fonts/CollegiateInsideFLF.ttf);
}

html{
    background: url("../img/banner3.jpg");
    background-size: cover;
    margin : 0 ;
    padding : 5px;
}

p{
    margin : 0;
}

.judul{
    width : 100%;
    float : left;
    height : 15vh;
    background:transparent;
    text-align:center;
    margin : 0;
    padding : 0;
    border: 2px solid white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    
}

.judul h1
{
    font-family: College;
    color: white;
    font-size: 350%;
}

.navBar{
    clear:left;
    float : left;
    width:100%;
    background-color:rgba(255, 255, 255, 0.37);
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.navBar p {
    float : left;
    margin-left : 1vw;
    margin-top: 2vh;
    font-size: 120%;
    color: rgb(29, 29, 29);
    font-family: fonts;
}

.navBar ul{
    float : right;
    padding : 0;
    margin : 0;
}

.navBar ul li{
    float:left;
    list-style: none;
    padding: 0.8vw;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 2px;
}

.navBar li:hover{
    background-color: mediumseagreen;
    color:white;
    cursor: pointer;
    transition: ease 0.5s;
}

#active{
    background-color:mediumseagreen;
    color:white;
}

.mid{
    float: left;
    width : 100%;
    height : 77.5vh;
    background-color : transparent;
}

.leftBar{
    float: left;
    width : 19%;
    background-color: rgba(255, 255, 255, 0.795);
    height : 77.5vh;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: Input;
    color: rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.leftBar p{
    background-color : mediumseagreen;
    padding : 1vh 1vw;
    text-align : center;
    border: 1px solid mediumseagreen;
    border-radius: 10px;
    color: white;
}

.leftBar ul{
    padding : 0;
    margin-top : 0;
}

.leftBar ul li{
    list-style : none;
    padding : 1vh 1vw;
    border-bottom : 1px solid black;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 5px;
}

.leftBar ul li:hover{
    background-color : mediumseagreen;
    color:white;
    cursor: pointer;
    transition: ease 0.5s;
}

.leftBar a{
    text-decoration : none;
}

.midHeader{
    clear: left;
    width:  79vw;
    /* height : 9vh; */
    float: left;
    background-color: rgb(60, 179, 114);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0vh 1.2vw 0vh 1.2vw;
}


/* BAGIAN JOURNALS */
.journal{
    border : 2px solid transparent;
    margin-bottom : 3vh;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.808);
    font-family: Input;
}

.journal a{
    text-decoration: none;
}
/*  */

.midHeader h1{
    margin : 0;
    float : left;
    font-family: Input;
}

.midHeader h2{
    float: left;
    margin: 5px;
    font-family: Input;
}

.midHeader form{
    float:right;
    margin-top: 0.7vh;
}
.midHeader button{
    padding : 1px 10px;
    background-color: white;
    color: mediumseagreen;
    border-radius: 30px;
    border: 2px solid transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    font-family: Input;
    font-weight: bold;
    margin-top: 13px;
    margin-right: 20px;
    float: right;
}
.midHeader button:hover{
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
}

.midHeader input[type='submit']{
    padding : 1px 10px;
    background-color: white;
    color: mediumseagreen;
    border-radius: 30px;
    border: 2px solid transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    font-family: Input;
    font-weight: bold;
    margin: 5px;
}
.midHeader input[type='submit']:hover{
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
}

.midHeader select{
    margin: 10px;
    background: rgb(223, 255, 238);
    border: 2px solid rgb(46, 131, 84);
}

.midHeader input[type='text']{
    margin: 10px;
    background: rgb(223, 255, 238);
    border: 2px solid rgb(46, 131, 84);
    border-radius: 10px;
}

.midBar{    
    float: left;
    width:80%;
    background-color :transparent;
    padding : 0;
}



.midBar h1{
    margin : 0;
    /* text-align : center; */
}

.midContent{
    width: 79vw;
    float : left;
    background-color: rgba(255, 255, 255, 0.479);
    height : 64vh;
    overflow: auto;
    padding : 3vh 1.2vw;
    margin-top: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow: auto;
}

.midContent table{
    width: 100%;
    font-family: Input;
    font-size: 20px;
}

.midContent table td{
    padding-left: 10px;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.582);
}

.midContent table tr{
    background: rgba(255, 255, 255, 0.466);
}

/*
    --CSS BUAT PHP PROFILE IMAGE-- 
*/
.profileImg{
    text-align:center;
    background-color: mediumseagreen;
    margin : auto;    
    width : 30%;
    border-radius: 10%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.profileImg img{
    border-bottom:1px solid transparent;
    width:100%;
    border-radius: 50%;
}

.profileImg button{
    padding : 1vh 1vw;
    width : 65%;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    border: 2px solid transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    font-family: Input;
    margin-top: 5px;
}
.profileImg button:hover{
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
    transition : ease 0.5s;
}

#statusUpdate{
    margin : 0;
    padding : 0;
    text-align:center;
}
/*
 ----- -------------------------------------------
*/

/*
    CSS BUAT MODAL--------------------------------

*/
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name : fadeIn;
    animation-duration : 1s;
}

.modal-content {
    text-align:center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    padding: 0px 30px 0px 30px;
    font-family: Input;
}

.modal-content input[type='submit']{
    display: block;
    text-decoration: none;
    outline: none;
    background: mediumseagreen;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 20px 2px 20px 2px;
    width: 100%;
}
.modal-content input[type='submit']:hover{
    background: rgb(175, 175, 175);
    color: white;
    cursor: pointer;
    transition : ease-in-out 0.3s;
}

.modal-content input[type='text'],input[type='password'],input[type='number']{
    border: none;
    border-bottom: 1px solid rgb(116, 116, 116);
    background: transparent;
    outline: none;
    width: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

/*
    ----------------------------------------
*/



.midFooter{
    background:transparent;
    width: 79vw;
}


.midFooter p{
    padding :0vw;
    color: rgb(255, 255, 255);
    text-shadow:-1px -1px 2px rgb(27, 15, 15);
}